# Node dependencies
node_modules/

# Next.js build output and cache
.next/
out/

# Local env files
.env*
.env

# Logs
*.log

# OS
.DS_Store

# IDE / Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts
